/*.container {
    border: 5px solid #ffcc5c;
    display: flex;
    justify-content: center;
}*/

/*.container > div {
    width: 100px;
    padding: 10px;
    text-align: center;
    font-size: 14sp;
    color: #ffeead;
    border: 2px solid;
    background-color: green;
    margin: 16px;
}

<nav class="container">
            <div class="home">Home</div>
            <div class="search">Search</div>
            <div class="logoult">Logout</div>
        </nav>